body {
    margin: 0px auto;
    max-width: 800px;
    background-image: linear-gradient(black, #fff0 50%), url("images/scroller2-darkened-blurred.png"), url("images/background-noise.png");
    background-size: auto;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: top;
    background-color: #373737;
}

.banner {
    line-height: 120px;
    height: 140px;
    padding-left: 25px;
    background-color: white;
    font-size: min(15.6vw, 131px);
    font-family: 'Gruppo', cursive;
    color: #f2f200;
    mix-blend-mode: difference;
}

p {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #7b7750;
    text-align: center;
    /*margin-left: 25px;
    margin-top: 240px;*/
}