body {
    margin: 0px auto;
    max-width: 800px;
    background-image: url("images/scroller2-darkened-blurred.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0c0c0c;
}

.banner {
    font-size: min(17.55vw, 141px);
    font-family: 'Gruppo', cursive;
    color: silver;
}

p {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
    margin-left: 10px;
    margin-top: 240px;
}