body {
    margin: 0px auto;
    max-width: 800px;
}

.banner {
    font-size: min(17.55vw, 141px);
    font-family: 'Gruppo', cursive;
}

p {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}